.about{
    
    background-color: $light-grayish-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    p{
        width: 90%;
        line-height: 1.6rem;
        padding: 1rem;
        font-size: 1.2rem;
    }
    h2{
        font-size: 2rem;
        line-height: 2rem;
        width: 80%;
        padding: 2rem;
        padding-bottom: 0;
    }
    &__items{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    &__item{
        margin: 1rem 0 0 0;
        p{
            margin: auto;
        }
        img{
            margin: 1rem;
        }
        
    }
}
@include media-md{
    .about{
        &__items{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@include media-lg{
    .about{
        padding: 2rem;
        margin: 0;
        align-items: flex-start;
        text-align: left;
        h2{
            width: 50%;
            margin-left: 0;
            padding: 2rem;
        }
        p{
            width: 60%;
            padding: 2rem;
        }
        &__items{
            grid-template-columns: repeat(4, 1fr);
            justify-items: flex-start;
            h3{
                padding: 1rem;
            }
            p{
                width: 100%;
                padding: 1rem;
            }
        }
    }
}
@include media-xl{
    .about{
        padding: 4rem;
        
        h2{
            width: 50%;
            margin-left: 0;
            padding: 2rem;
        }
        p{
            width: 60%;
            padding: 2rem;
        }
        &__items{
            grid-template-columns: repeat(4, 1fr);
            justify-items: flex-start;
            h3{
                padding: 1rem;
            }
            p{
                width: 100%;
                padding: 1rem;
            }
        }
    }
}