.home {
    position: relative;
    top: -7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 100vh;
    

    &__img {
        box-sizing: border-box;
        z-index: 1;
        background-image: url('../img/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        width: 100%;
        position: relative;
        text-align: center;
        img {
            width: 80%;
            position: relative;
        }
    }

    &__content {
        h1 {
            width: 90%;
            margin: 1rem auto;
            text-align: center;
        }

        p {
            width: 90%;
            margin: 1rem auto;
            text-align: center;
            color: $grayish-blue;
        }
    }
}



@include media-md {
    .home {
        flex-direction: row-reverse;
        top: 0;
        height: 80vh;
        width: 100vw;

        &__img {
            flex: 0.6;
            max-width: 60vw;

            background-image: none;

            z-index: 1;
            box-sizing: border-box;

            img {
                position: absolute;
                width: 100%;
                display: block;

                background-image: url('../img/bg-intro-desktop.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                top: -19rem;
            }
        }

        &__content {
            flex: 0.4;
            padding: 1rem;
            h1 {
                text-align: left;
            }
            p {
                text-align: left;
            }
        }
    }
}

@include media-lg {
    .home {
        padding: 0 2rem;
        &__content {
            padding: 2rem;
        }
    }
}

@include media-xl {
    .home {
        &__img {
            img {
                top: -30rem;
            }
        }

    }
}

@include media-xxl {
    .home {
        padding: 0 10rem;
        &__img {
            img {
                top: -50rem;
            }
        }
    }
}