.home{
    position: relative;
    top:-6rem;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
    &__img{
        box-sizing: border-box;
        z-index: 1;
        background-image: url('../img/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        
        background-size: cover;
        display: flex;
        justify-content: center;
            width: 100%;
 
        img{
            position: relative;
            height: max-content;
            width: 80%;
            
        }
    }
    h1{
    
        width: 90%;
        margin: 1rem auto;
    text-align: center;
    font-size: 2.5rem;
    }
    p{
        width: 90%;
        margin: 1rem auto;
        text-align: center;
        color: $grayish-blue;
        line-height: 1.6rem;
        font-size: 1.1rem;
    }
}
.btn{
    background: linear-gradient(to right, $lime-green, $bright-cyan);
    width: 40%;
    text-align: center;
    padding: 0.8rem;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    opacity: 1;
    margin:1rem auto;
    @include transition-ease;

    &:hover{
        opacity: 0.8;
    }
}