@import 'config', './responsive', './home', './about','./articles', './footer', './nav';
html {
    scroll-behavior: smooth;
  }
header{
    width: 100%;
    padding: 1rem;
    
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: rgba($color: #fff, $alpha: 1);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include transition-ease;
    .btn{
        display: none;
    }
    &.transparent{
        background-color: rgba($color: #fff, $alpha: 0.7);
    }
    a{
    display: flex;
    align-items: center;
    }
}
.attribution{
background-color: $bright-cyan;
color: $dark-blue;
padding: 0.5rem;
font-size: 0.8rem;
text-align: center;
a{
    @include transition-ease;
    color: white;
    font-weight: 700;
    
    &:visited{
        color: white;
    }
    &:active{
        color: white;
    }
    &:hover{
        color: lighten($lime-green, 30%);
    }
}
}
@include media-md{
    header{
        &.transparent{
            background-color: #fff;
        }
        justify-content: space-evenly;
        position: fixed;
        .btn{
            display: block;
            margin: 0;
        }
    }
}