@import 'config', './responsive', './home', './about','./articles', './footer', './nav';

header{
    width: 100%;
    padding: 1rem;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn{
        display: none;
    }
}
.attribution{
background-color: $bright-cyan;
color: $dark-blue;
padding: 0.5rem;
font-size: 0.8rem;
text-align: center;
a{
    @include transition-ease;
    color: white;
    font-weight: 700;
    
    &:visited{
        color: white;
    }
    &:active{
        color: white;
    }
    &:hover{
        color: lighten($lime-green, 30%);
    }
}
}
@include media-md{
    header{
        justify-content: space-evenly;
        .btn{
            display: block;
            margin: 0;
        }
    }
}